* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.board {
    margin: 100px auto 0;
    border-collapse: collapse;
}

.board td {
    background-color: gray;
    border: 1px solid white;
    width: 100px;
    height: 100px;
}

.board td:hover {
    background-color: yellow;
}